:root {
  --color-light: #f1f1e8;
  --color-content: #a3d2ca;
  --color-border: #5eaaa8;
  --color-dark: #056676;

  --att-content: #bfdcae;
  --att-border: #81b214;
  --att-dark: #206a5d;

  --notatt-content: #ffcb8e;
  --notatt-border: #e97171;
  --notatt-dark: #810000;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

html,
body {
  background-color: var(--color-light) !important;
}

body {
  position: relative;
  top: 2rem;
}

input,
select {
  background-color: var(--color-light) !important;
}

form {
  background-color: var(--color-content) !important;
  border: 0.1rem solid var(--color-border);
  border-radius: 10px;
  box-shadow: 10px 20px var(--color-dark);
}

#attending {
  background-color: var(--att-content) !important;
  border: 0.1rem solid var(--att-border);
  border-radius: 10px;
  box-shadow: 10px 20px var(--att-dark);
}

#notAttending {
  background-color: var(--notatt-content) !important;
  border: 0.1rem solid var(--notatt-border);
  border-radius: 10px;
  box-shadow: 10px 20px var(--notatt-dark);
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h2 {
  text-decoration: underline;
}

button {
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
}

button:hover {
  background-color: var(--color-light) !important;
  border: 1px solid var(--color-dark);
  color: var(--color-dark) !important;
}
