html(lang="en")
  include layouts/header
  body.container-sm
    h1.text-center.display-1 Thank you for your response!
    h3.text-center: a(href="/guests") Click here to check all the guests
    include layouts/bootstrap-js